/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  padding: 10px;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-family: 'Bree Serif';
  font-size: 60px;
  font-weight: 700;
}

.search-container {
  display: flex;
  border: 1px solid #7b8794;
  border-radius: 3px;
  width: 270px;
  height: 30px;
}
.search-box {
  font-family: 'Bree serif';
  font-size: 14px;
  border-width: 0px;
  color: #1e293b;
  background-color: #fff1eb;
  width: 260px;
  outline: none;
}
.img {
  width: 30px;
}
::placeholder {
  color: #7b8794;
  padding: 5px;
  padding-left: 10px;
}
.tab-item {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 200px;
  margin-right: 15px;
}

.app-item-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

@media screen and (max-width: 576px) {
  .app-item-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
}
