/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100px;
  height: auto;
  padding-top: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.app-logo {
  width: 50px;
}
.app-name {
  font-family: 'Bree serif';
  font-size: 13px;
}

.li {
  list-style-type: none;
}
@media screen and (max-width: 576px) {
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 70px;
    height: 60;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .app-logo {
    width: 30px;
  }
  .app-name {
    font-family: 'Bree serif';
    font-size: 10px;
  }

  .li {
    list-style-type: none;
  }
}
